@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
a:link, a:visited {
    text-decoration: none;
    color: #000;
}
h1, h2 {
    font-weight: 300;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}
input[type=text], input[type=submit] {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    margin: 2px;
    font-family: 'Montserrat', sans-serif;
}
input[type=submit] {
    cursor: pointer;
    background: #eee;
}
footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: 
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-question-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/></svg>')
        no-repeat 
        center / cover;
}
header {
    font-size: smaller;
    position: absolute;
    top: 15px;
    right: 50px;
    color: #777;
    padding: 0 0 0 25px;
    background: 
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-arrow-up-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>')
        no-repeat 
        left;
}
main {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#qlinks {
    margin-top: 20px;
}
.qlink, #qall {
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 140px;
    height: 90px;
    float: left;
    margin: 5px;
    position: relative;
}
.qlink div {
    border-radius: 5px 5px 0 0;
    top: 0;
    padding: 3px 0;
    width: 100%;
    margin: 0;
    font-size: small;
    background: #eee;
    border-bottom: 1px solid #ccc;
}
.qlink div img {
    margin: 2px 4px 2px 0;
    vertical-align: middle;
}
.qlink p, #qall p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 130px;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.qlink p span {
    color: #bbb;
}
#qall {
    background:
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/><path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/></svg>') 
        no-repeat
        95% 10% 
        #eee;
}
#qall small {
    color: #999;
}